@charset "UTF-8";
@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("//fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");
@import url("//unpkg.com/aos@next/dist/aos.css");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'Poppins', Arial, sans-serif;
  background: white;
}

a {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

p {
  line-height: 1.6;
}

.inner {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

h1.heading {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.3;
}

.button {
  background: #b2b0ff;
  color: #010031;
  padding: 0.8em 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all 50ms ease-out;
  transition: all 50ms ease-out;
}

.button:hover span {
  text-decoration: underline;
}

.button:hover .fa-chevron-down {
  top: 3px;
}

.button:hover .fa-chevron-right {
  left: 3px;
}

.button i {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  position: relative;
  top: 0;
  left: 0;
}

section {
  padding: 5em 0 7em;
  width: 100%;
}

h2.section_heading {
  font-size: 2.4rem;
}

p.section_desc {
  padding-top: 1em;
  width: 60ch;
  max-width: 90%;
}

@media screen and (max-width: 1250px) {
  h2.section_heading {
    text-align: center;
  }
  p.section_desc {
    text-align: center;
    margin: auto;
  }
}

.noscript {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.noscript a {
  color: white;
}

.header {
  height: 70px;
  background: #363a70;
  color: #b2b0ff;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.header_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1em;
}

.header_image {
  height: 55px;
}

.header_image:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.header_title {
  color: white;
  font-weight: 700;
  font-size: 2rem;
}

.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header_link {
  font-weight: 700;
  color: #b2b0ff;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.header_link::after {
  display: block;
  content: '';
  background: white;
  width: 0;
  height: 4px;
}

.header_link:hover::after {
  width: 100%;
}

.header .hamburger {
  text-align: center;
  cursor: pointer;
  display: none;
  font-size: 1.5rem;
}

@media screen and (max-width: 1000px) {
  .header .hamburger {
    display: unset;
  }
  .header_nav {
    z-index: 4;
    -webkit-box-shadow: 0 10px 10px rgba(1, 0, 73, 0.2);
            box-shadow: 0 10px 10px rgba(1, 0, 73, 0.2);
    border-radius: 0 0 5em 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: white;
    width: 100vw;
    height: 70vh;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 0;
    overflow: hidden;
  }
  .header_nav a {
    font-weight: 700;
    font-size: 2rem;
    color: #363a70;
  }
  .header_nav a::after {
    background: #363a70;
  }
}

nav.nav_show {
  height: 70vh;
}

header.header_scroll {
  background: #2a2e58;
  background: #2a2b4f;
}

.land {
  background: #363a70;
  background: -webkit-gradient(linear, left bottom, left top, from(#0a1535), color-stop(90%, #363a70));
  background: linear-gradient(to top, #0a1535 0%, #363a70 90%);
  min-height: unset;
  padding: unset;
  padding-top: 70px;
}

.land_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: visible;
}

.land_inner > * {
  min-height: calc( 100vh - 70px);
  height: calc( 100vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.land_text {
  color: #b2b0ff;
  width: calc( 1100px / 2);
  padding: 0 3em 0 0;
  gap: 1.2em;
}

.land_hero {
  min-width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.land_hero img, .land_hero svg {
  max-height: 80%;
}

.land_title {
  color: white;
}

@media screen and (max-width: 1300px) {
  .land_inner {
    min-height: calc( 100vh - 70px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 1.5em;
  }
  .land_inner > * {
    min-height: unset;
  }
  .land_inner .land_hero {
    width: 90%;
    margin: 0 auto;
    -webkit-box-flex: 40;
        -ms-flex: 40;
            flex: 40;
  }
  .land_inner .land_text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    -webkit-box-flex: 60;
        -ms-flex: 60;
            flex: 60;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 2em;
  }
  .land_inner .land_desc {
    width: 80%;
    max-width: 50ch;
  }
  .land_inner .land_button {
    margin: 0 auto;
  }
}

#gearSmall--inject-1 {
  animation: gearSmall 4s alternate-reverse infinite ease-in-out;
}

@-webkit-keyframes gearSmall {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
}

@keyframes gearSmall {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
}

#gearBig--inject-1 {
  animation: gearBig 4s alternate-reverse infinite ease-in-out;
}

@-webkit-keyframes gearBig {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
  }
}

@keyframes gearBig {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
  }
}

#gearBig--inject-1 {
  animation: gearBig 4s alternate-reverse infinite ease-in-out;
}

@keyframes gearBig {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }
}

#leafUp--inject-1 {
  animation: leafUp 4s alternate-reverse infinite ease-in-out;
}

@-webkit-keyframes leafUp {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
}

@keyframes leafUp {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
}

#leafDown--inject-1 {
  animation: leafDown 4s alternate-reverse infinite ease-in-out;
}

@-webkit-keyframes leafDown {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
  }
}

@keyframes leafDown {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
  }
}

.features {
  background: #e1eaf8;
  color: #030090;
}

.features_title {
  color: #010049;
}

.features_grid {
  justify-items: center;
  margin-top: 8em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 3em;
}

.feature {
  cursor: pointer;
  background: white;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 2em 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3em;
}

.feature_title {
  text-align: center;
  text-transform: uppercase;
}

.feature_icon {
  font-size: 5rem;
}

@media screen and (max-width: 1100px) {
  .features_grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .feature {
    max-width: 400px;
    text-align: center;
  }
}

@media screen and (max-width: 1250px) {
  .features_grid {
    margin-top: 3em;
  }
}

.pricing {
  background: #363a70;
  color: #b2b0ff;
  padding-bottom: 8em;
}

.pricing h2 {
  color: white;
}

.pricing_grid {
  justify-items: center;
  margin-top: 10em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.price {
  background: #2e315f;
  z-index: 1;
  padding: 2em;
  outline: 2px solid #8a8a8a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price_title {
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
}

.price_desc {
  margin: 2em 0 3em;
  font-size: 0.9rem;
}

.price_divider {
  background: rgba(138, 138, 138, 0.467);
  height: 1px;
  width: 100%;
  margin: 1em 0;
}

.price_featurevalue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

.price_footer {
  gap: 0.5em;
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.price_cost {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
}

.price_cost::before {
  content: '₹';
  font-size: 0.7em;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 5px;
  margin-right: 5px;
}

.price_cost::after {
  content: '/month';
  text-transform: uppercase;
  font-size: 0.3em;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 0 12px 5px;
}

.price-emp {
  z-index: 2;
  outline: unset;
  background: white;
  color: #030090;
  margin-top: -2em;
  padding-top: 3em;
  margin-bottom: -5px;
  -webkit-box-shadow: 0 0 25px 5px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 25px 5px rgba(255, 255, 255, 0.3);
}

.price-emp .price_title {
  font-size: 2rem;
  color: #010049;
}

.price-emp .price_cost {
  color: #010049;
}

@media screen and (max-width: 1200px) {
  .price {
    width: 90%;
    max-width: 500px;
  }
  .pricing_grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-top: 4em;
    grid-gap: 2em;
  }
  .price-emp {
    margin: 0;
    padding: 2em;
  }
}

.tech {
  background: #e1eaf8;
  color: #030090;
}

.tech_title {
  color: #010049;
}

.tech_image {
  margin: 5em auto 2em;
  display: block;
}

.tech_text {
  font-size: 1.25rem;
}

@media screen and (max-width: 1250px) {
  .tech_image {
    margin-top: 2em;
  }
}

.faq {
  min-height: unset;
  padding-bottom: 5em;
  background: #363a70;
  color: #b2b0ff;
}

.faq_title {
  color: white;
}

@-webkit-keyframes sweep {
  from {
    margin-top: -10px;
    opacity: 0;
  }
  to {
    margin-top: -0px;
    opacity: 1;
  }
}

@keyframes sweep {
  from {
    margin-top: -10px;
    opacity: 0;
  }
  to {
    margin-top: -0px;
    opacity: 1;
  }
}

.faq_questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 5em;
}

.faq_qa {
  color: white;
  background: #787cb1;
  z-index: 2;
}

.faq_header {
  padding: 1em 1.5em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq_question {
  width: 80%;
  font-size: 1.3rem;
  font-size: 600;
}

.faq_answer {
  margin-top: 0em;
  font-size: 0.8rem;
  font-weight: 400;
  color: #d4d4d4;
  height: 0;
}

.faq_footer {
  padding: 0 2em;
  overflow: hidden;
  max-height: 0;
  height: auto;
}

.faq_footer.faq_clicked {
  padding: 0 2em 1em;
  max-height: 5000px;
}

.faq_footer.faq_clicked .faq_answer {
  height: auto;
}

.faq_plus {
  height: 25px;
  width: 25px;
  position: relative;
}

.faq_plus1, .faq_plus2 {
  height: 3px;
  width: 100%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.faq_plus1 {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.faq_plus1.faq_clicked {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 800px) {
  .faq_question {
    font-size: 1rem;
  }
}

.contact {
  padding-top: 0;
  background: #363a70;
  color: #b2b0ff;
  padding-bottom: 5em;
}

.contact_title {
  color: white;
}

.contact_name, .contact_email, .contact_message {
  background: #787cb1;
  color: white;
}

.contact input, .contact textarea {
  font-family: inherit;
  outline: none;
  border: none;
  padding: 1em;
}

.contact_submit {
  cursor: pointer;
}

.contact_form {
  width: 90%;
  max-width: 800px;
  margin: 4em auto 0;
}

.contact_message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5em 2em;
  height: 150px;
}

.contact_submit {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: white;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: white;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: white;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: white;
}

.contact_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_row {
  gap: 1em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact_row * {
  width: 100%;
}

.contact_message {
  margin: 1em 0;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .contact_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=home.css.map */