@charset "UTF-8";
@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("//fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");
@import url("//unpkg.com/aos@next/dist/aos.css");
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 300ms ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", Arial, sans-serif;
  background: white;
}

a {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

p {
  line-height: 1.6;
}

.inner {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

h1.heading {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.3;
}

.button {
  background: rgb(178, 176, 255);
  color: rgb(1, 0, 49);
  padding: 0.8em 1.5em;
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-weight: 700;
  cursor: pointer;
  transition: all 50ms ease-out;
}
.button:hover span {
  text-decoration: underline;
}
.button:hover .fa-chevron-down {
  top: 3px;
}
.button:hover .fa-chevron-right {
  left: 3px;
}
.button i {
  transition: all 300ms ease-in-out;
  position: relative;
  top: 0;
  left: 0;
}

section {
  padding: 5em 0 7em;
  width: 100%;
}

h2.section_heading {
  font-size: 2.4rem;
}

p.section_desc {
  font-size: 0.9rem;
  padding-top: 1em;
  width: 80ch;
  max-width: 90%;
}

@media screen and (max-width: 1250px) {
  h2.section_heading {
    text-align: center;
  }
  p.section_desc {
    text-align: center;
    margin: auto;
  }
}
.noscript {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.noscript a {
  color: rgb(255, 255, 255);
}

.header {
  height: 70px;
  background: rgb(54, 58, 112);
  color: rgb(178, 176, 255);
  position: fixed;
  width: 100%;
  z-index: 5;
}

.header_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header_logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.header_image {
  height: 55px;
}

.header_title {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 2rem;
}

.header_nav {
  display: flex;
  gap: 1.5em;
  align-items: center;
  justify-content: flex-end;
}

.header_link {
  font-weight: 700;
  color: rgb(178, 176, 255);
  text-transform: uppercase;
  font-size: 1rem;
}

.header_link::after {
  display: block;
  content: "";
  background: rgb(255, 255, 255);
  width: 0;
  height: 4px;
}

.header_link:hover::after {
  width: 100%;
}

.header .hamburger {
  text-align: center;
  cursor: pointer;
  display: none;
  font-size: 1.5rem;
}

@media screen and (max-width: 1000px) {
  .header .hamburger {
    display: unset;
  }
  .header_nav {
    z-index: 4;
    box-shadow: 0 10px 10px rgba(1, 0, 73, 0.2);
    border-radius: 0 0 5em 5rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background: rgb(255, 255, 255);
    width: 100vw;
    height: 70vh;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 0;
    overflow: hidden;
  }
  .header_nav a {
    font-weight: 700;
    font-size: 2rem;
    color: rgb(54, 58, 112);
  }
  .header_nav a::after {
    background: rgb(54, 58, 112);
  }
}
nav.nav_show {
  height: 70vh;
}

header.header_scroll {
  background: #2a2e58;
  background: rgb(42, 43, 79);
}

.land {
  background: rgb(54, 58, 112);
  min-height: unset;
  padding: unset;
  padding-top: 70px;
}

.land_inner {
  display: flex;
  justify-content: flex-end;
  overflow: visible;
  padding-bottom: 2em;
}

.land_inner > * {
  min-height: calc( 100vh - 70px );
  height: calc( 100vh - 70px );
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.land_text {
  color: rgb(178, 176, 255);
  width: calc( 1100px / 2 );
  padding: 0 3em 0 0;
  gap: 1.2em;
}

.land_hero {
  min-width: 50vw;
  display: flex;
  overflow: visible;
  align-items: center;
}

.land_hero img, .land_hero svg {
  max-height: 80%;
}

.land_title {
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 1300px) {
  .land_inner {
    min-height: calc( 100vh - 70px );
    flex-direction: column;
    text-align: center;
    gap: 1.5em;
  }
  .land_inner > * {
    min-height: unset;
  }
  .land_inner .land_hero {
    width: 90%;
    margin: 0 auto;
    flex: 40;
  }
  .land_inner .land_text {
    order: 2;
    width: 100%;
    flex: 60;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2em;
  }
  .land_inner .land_desc {
    width: 80%;
    max-width: 50ch;
  }
  .land_inner .land_button {
    margin: 0 auto;
  }
}
#gearSmall--inject-1 {
  animation: gearSmall 4s alternate-reverse infinite ease-in-out;
}

@-webkit-keyframes gearSmall {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(2%);
  }
}

@keyframes gearSmall {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(2%);
  }
}
#gearBig--inject-1 {
  animation: gearBig 4s alternate-reverse infinite ease-in-out;
}

@-webkit-keyframes gearBig {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-2%);
  }
}

@keyframes gearBig {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-2%);
  }
}
#gearBig--inject-1 {
  animation: gearBig 4s alternate-reverse infinite ease-in-out;
}

@keyframes gearBig {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1%);
  }
}
#leafUp--inject-1 {
  animation: leafUp 4s alternate-reverse infinite ease-in-out;
}

@-webkit-keyframes leafUp {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-2deg);
  }
}

@keyframes leafUp {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-2deg);
  }
}
#leafDown--inject-1 {
  animation: leafDown 4s alternate-reverse infinite ease-in-out;
}

@-webkit-keyframes leafDown {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-2%);
  }
}

@keyframes leafDown {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-2%);
  }
}
.features {
  background: rgb(225, 234, 248);
  color: rgb(3, 0, 144);
}

.features_title {
  color: rgb(1, 0, 73);
}

.features_grid {
  justify-items: center;
  margin-top: 8em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3em;
}

.feature {
  cursor: pointer;
  background: rgb(255, 255, 255);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 2em 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
}

.feature_title {
  text-align: center;
  text-transform: uppercase;
}

.feature_icon {
  font-size: 5rem;
}

@media screen and (max-width: 1100px) {
  .features_grid {
    grid-template-columns: 1fr;
  }
  .feature {
    max-width: 400px;
    text-align: center;
  }
}
@media screen and (max-width: 1250px) {
  .features_grid {
    margin-top: 3em;
  }
}
.feature_desc {
  font-size: 0.9rem;
  text-align: center;
}

.pricing {
  background: rgb(54, 58, 112);
  color: rgb(178, 176, 255);
  padding-bottom: 3em;
}

.pricing h2 {
  color: rgb(255, 255, 255);
}

.pricing_subtitle {
  margin-top: 2em;
  text-align: center;
  font-weight: 400;
}

.pricing_grid {
  justify-items: center;
  margin-top: 10em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.pricing_grid2 {
  grid-template-columns: 1fr 2fr 2fr 1fr;
  margin-top: 5em;
}

@media screen and (min-width: 1200px) {
  .pricing_grid2 .price:nth-child(1) {
    grid-column: 2/3;
  }
  .pricing_grid2 .price:nth-child(2) {
    grid-column: 3/4;
  }
}
@media screen and (max-width: 1200px) {
  .pricing_grid2 {
    grid-template-columns: 1fr;
  }
}
.pricing_btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 2em 0 0;
}

.price {
  width: 100%;
  background: #2e315f;
  z-index: 1;
  padding: 2em;
  outline: 2px solid rgb(138, 138, 138);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.2em;
}

.price_title {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  text-align: center;
}

.price_desc {
  margin: 2em 0 3em;
  font-size: 0.8rem;
}

.price_divider {
  background: rgba(138, 138, 138, 0.467);
  height: 1px;
  width: 100%;
  margin: 1em 0;
}

.price_featurevalue {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  font-size: 0.85rem;
}
.price_featurevalue .fa-check {
  margin-right: 0.3em;
}

.price_footer {
  gap: 0.5em;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.price_cost {
  width: 50%;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.price_rate {
  position: relative;
}

.price_rate::before {
  content: "₹";
  font-size: 0.7em;
  align-self: flex-start;
  margin-top: 5px;
  margin-right: 5px;
}

.price_rate::after {
  content: "/month";
  text-transform: uppercase;
  font-size: 0.3em;
  align-self: flex-end;
  position: absolute;
  top: 80%;
  right: 0;
}

.price_features_grid {
  width: 100%;
}

.price-emp {
  z-index: 2;
  outline: unset;
  background: rgb(255, 255, 255);
  color: rgb(3, 0, 144);
  margin-top: -2em;
  padding-top: 3em;
  margin-bottom: -5px;
  box-shadow: 0 0 25px 5px rgba(255, 255, 255, 0.3);
}
.price-emp .price_featurevalue {
  color: black;
}
.price-emp .price_title {
  font-size: 2rem;
  color: rgb(1, 0, 73);
}
.price-emp .price_cost {
  color: rgb(1, 0, 73);
}

.price_feature_template_single .price_feature {
  width: 100%;
}

.price_footer {
  gap: 1.5em;
}

@media screen and (max-width: 1200px) {
  .price {
    width: 90%;
    max-width: 500px;
  }
  .pricing_grid {
    grid-template-columns: 1fr;
    margin-top: 4em;
    grid-gap: 2em;
  }
  .price-emp {
    margin: 0;
    padding: 2em;
  }
  .pricing_btn {
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 490px) {
  .price_footer {
    flex-direction: column;
  }
}
.services {
  background: rgb(225, 234, 248);
  color: rgb(3, 0, 144);
}

.services_sub {
  margin-top: 2em;
  font-weight: 700;
  font-size: 1.25rem;
}

.services_row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 200px;
  padding: 60px 0;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  gap: 5em;
}

.service_image {
  position: relative;
  max-height: 250px;
  width: 100%;
}

.service-image-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.service-image-wrapper::before {
  content: attr(data-stage);
  opacity: 0.7;
}

.service_emoji {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%);
}

.services_text {
  margin-top: 1em;
}

@media screen and (max-width: 800px) {
  .service_emoji {
    max-height: 50px;
    transform: translate(50%, 50%);
  }
  .services_row {
    grid-template-columns: 1fr;
    gap: 3em;
  }
  .service-image-wrapper::before {
    display: block;
    text-align: center;
  }
}
.tech {
  background: rgb(225, 234, 248);
  color: rgb(3, 0, 144);
}

.tech_image {
  margin: 5em auto 2em;
  display: block;
}

.tech_text {
  font-size: 1.25rem;
}

@media screen and (max-width: 1250px) {
  .tech_image {
    margin-top: 2em;
  }
  .tech_row {
    flex-direction: column;
  }
  .tech_text {
    margin-bottom: 4em;
  }
}
.tech_row {
  display: flex;
  align-items: center;
}
.tech_row p {
  font-size: 1.05rem;
}

.tech {
  padding: 5em 0 0;
}

.partners {
  background: rgb(225, 234, 248);
  color: rgb(3, 0, 144);
  padding: 1em 0;
}

.partners_grid_outer {
  margin: 5em 0;
}

.partners_grid {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
}
.partners_grid img {
  height: 60px;
}

.faq {
  min-height: unset;
  padding-bottom: 5em;
  background: rgb(54, 58, 112);
  color: rgb(178, 176, 255);
}

.faq_title {
  color: rgb(255, 255, 255);
}

@-webkit-keyframes sweep {
  from {
    margin-top: -10px;
    opacity: 0;
  }
  to {
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes sweep {
  from {
    margin-top: -10px;
    opacity: 0;
  }
  to {
    margin-top: 0px;
    opacity: 1;
  }
}
.faq_questions {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 5em;
}

.faq_qa {
  color: rgb(255, 255, 255);
  background: rgb(120, 124, 177);
  z-index: 2;
}

.faq_header {
  padding: 1em 1.5em;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq_question {
  width: 80%;
  font-size: 1.3rem;
  font-size: 600;
}
.faq_question::-moz-selection {
  background: rgba(255, 255, 255, 0);
}
.faq_question::selection {
  background: rgba(255, 255, 255, 0);
}

.faq_answer {
  margin-top: 0em;
  font-size: 0.8rem;
  font-weight: 400;
  color: #d4d4d4;
  height: 0;
}

.faq_footer {
  padding: 0 2em;
  overflow: hidden;
  max-height: 0;
  height: auto;
}

.faq_footer.faq_clicked {
  padding: 0 2em 1em;
  max-height: 5000px;
}
.faq_footer.faq_clicked .faq_answer {
  height: auto;
}

.faq_plus {
  height: 25px;
  width: 25px;
  position: relative;
}

.faq_plus1, .faq_plus2 {
  height: 3px;
  width: 100%;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.faq_plus1 {
  transform: translate(-50%, -50%) rotate(90deg);
}

.faq_plus1.faq_clicked {
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 800px) {
  .faq_question {
    font-size: 1rem;
  }
}
.contact {
  padding-top: 0;
  background: rgb(54, 58, 112);
  color: rgb(178, 176, 255);
  padding-bottom: 5em;
}

.contact_title {
  color: rgb(255, 255, 255);
}

input, textarea {
  background: rgb(120, 124, 177);
  color: rgb(255, 255, 255);
}

.contact input, .contact textarea {
  font-family: inherit;
  outline: none;
  border: none;
  padding: 1em;
}

.contact_submit {
  cursor: pointer;
}

.contact_form {
  gap: 1em;
  width: 90%;
  max-width: 800px;
  margin: 4em auto 0;
}

.contact_submit {
  margin: 0 auto;
  display: flex;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: rgb(255, 255, 255);
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: rgb(255, 255, 255);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: rgb(255, 255, 255);
}

.contact_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact_row {
  gap: 1em;
  width: 100%;
  display: flex;
}
.contact_row * {
  width: 100%;
}

textarea {
  display: flex;
  height: 150px;
  width: 100%;
}

.contact_address {
  height: 100px;
}

@media screen and (max-width: 1000px) {
  .contact_row {
    flex-direction: column;
  }
}
section#address {
  background: rgb(225, 234, 248);
  color: rgb(3, 0, 144);
  padding: 2em;
}

section#address a {
  color: rgb(3, 0, 144);
}

.address_inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.address_contacts {
  display: flex;
  flex-direction: column;
}

.address_left, .address_right {
  padding: 2em;
  max-width: 50%;
  flex: 1;
}

.address_lines {
  text-align: right;
}

.address_right {
  border-left: 2px solid rgb(3, 0, 144);
}

.address_left {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.address_contact_icon {
  font-size: 1.3rem;
}

.address_contact {
  display: flex;
  align-items: center;
  gap: 0.8em;
}

.address_address {
  align-items: flex-start;
}
.address_address .address_contact_icon {
  margin-top: 5px;
}

.address_contact_text, .address_lines {
  font-size: 0.85rem;
}

.address_contacts {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.address_contact_hover:hover span {
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  .address_contact_text {
    font-size: 0.8rem;
  }
  .address_lines {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 750px) {
  .address_inner {
    align-items: center;
    flex-direction: column;
  }
  .address_lines {
    text-align: center;
  }
  .address_right {
    border-left: 0;
    border-top: 2px solid rgb(3, 0, 144);
  }
  .address_left {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .address_left, .address_right {
    padding: 2em;
    max-width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .address_left, .address_right {
    padding: 1em;
  }
  .address_contact_text {
    font-size: 0.7rem;
  }
  .address_lines {
    font-size: 0.7rem;
  }
}
#footer {
  padding: 1em 0;
}

.footer_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gavinpereira:hover span {
  text-decoration: underline;
}

@media screen and (min-width: 750px) {
  .footer_cr br {
    content: "";
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .footer_inner {
    flex-direction: column;
  }
  .footer_cr {
    order: 2;
    text-align: center;
  }
}/*# sourceMappingURL=home.css.map */