@charset "UTF-8";
@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("//fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', Arial, sans-serif;
  background: white;
}

a {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

p {
  line-height: 1.6;
}

.inner {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

h1.heading {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.3;
}

.button {
  background: #b2b0ff;
  color: #010031;
  padding: 0.8em 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
  font-weight: 700;
}

section {
  padding: 5em 0 7em;
}

h2.section_heading {
  font-size: 2.4rem;
}

p.section_desc {
  padding-top: 1em;
  width: 60ch;
}

.header {
  height: 70px;
  background: #363a70;
  color: #b2b0ff;
}

.header_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1em;
}

.header_image {
  height: 50px;
}

.header_title {
  color: white;
  font-weight: 700;
  font-size: 2rem;
}

.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header_link {
  color: #b2b0ff;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.land {
  background: #363a70;
  min-height: unset;
  padding: unset;
}

.land_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.land_inner > * {
  min-height: calc( 100vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.land_text {
  color: #b2b0ff;
  width: calc( 1100px / 2);
  padding: 0 1em 0 0;
  gap: 1.2em;
}

.land_hero {
  min-width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.land_title {
  color: white;
}

.features {
  background: #e1eaf8;
  color: #030090;
}

.features_title {
  color: #010049;
}

.features_grid {
  margin-top: 8em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 3em;
}

.feature {
  background: white;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 2em 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3em;
}

.feature_title {
  text-transform: uppercase;
}

.feature_icon {
  font-size: 5rem;
}

.pricing {
  background: #363a70;
  color: #b2b0ff;
  padding-bottom: 8em;
}

.pricing h2 {
  color: white;
}

.pricing_grid {
  margin-top: 10em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.price {
  background: #2e315f;
  z-index: 1;
  padding: 2em;
  outline: 2px solid #8a8a8a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price_title {
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
}

.price_desc {
  margin: 2em 0 3em;
  font-size: 0.9rem;
}

.price_divider {
  background: rgba(138, 138, 138, 0.467);
  height: 1px;
  width: 100%;
  margin: 1em 0;
}

.price_featurevalue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

.price_footer {
  gap: 0.5em;
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.price_cost {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
}

.price_cost::before {
  content: '₹';
  font-size: 0.7em;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 5px;
  margin-right: 5px;
}

.price_cost::after {
  content: '/month';
  text-transform: uppercase;
  font-size: 0.3em;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 0 12px 5px;
}

.price-emp {
  z-index: 2;
  outline: unset;
  background: white;
  color: #030090;
  margin-top: -2em;
  padding-top: 3em;
  margin-bottom: -5px;
  -webkit-box-shadow: 0 0 25px 5px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 25px 5px rgba(255, 255, 255, 0.3);
}

.price-emp .price_title {
  font-size: 2rem;
  color: #010049;
}

.price-emp .price_cost {
  color: #010049;
}

.tech {
  background: #e1eaf8;
  color: #030090;
}

.tech_title {
  color: #010049;
}

.tech_image {
  margin: 5em auto 2em;
  display: block;
}

.tech_text {
  font-size: 1.25rem;
}

.faq {
  min-height: unset;
  padding-bottom: 5em;
  background: #363a70;
  color: #b2b0ff;
}

.faq_title {
  color: white;
}

.faq_questions {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 5em;
}

.faq details {
  cursor: pointer;
  margin-bottom: 0.5em;
}

.faq summary {
  outline: none;
  padding: 1em 2em;
  color: white;
  background: #787cb1;
  z-index: 2;
}

.faq_answer {
  background: #2a2b4f;
  padding: 1em 2em;
  z-index: -1;
}

.contact {
  padding-top: 0;
  background: #363a70;
  color: #b2b0ff;
}

.contact_title {
  color: white;
}

.contact_name, .contact_email, .contact_message {
  background: #787cb1;
  color: white;
}

.contact input, .contact textarea {
  font-family: inherit;
  outline: none;
  border: none;
  padding: 1em;
}

.comtact_submit {
  cursor: pointer;
}

.contact_form {
  width: 90%;
  max-width: 800px;
  margin: 4em auto 0;
}

.contact_message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5em 2em;
  height: 150px;
}

.contact_submit {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: white;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: white;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: white;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: white;
}

.contact_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_row {
  gap: 1em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact_row * {
  width: 100%;
}

.contact_message {
  margin: 1em 0;
  width: 100%;
}
/*# sourceMappingURL=home.css.map */