@charset "UTF-8";
@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("//fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");
@import url("//unpkg.com/aos@next/dist/aos.css");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'Poppins', Arial, sans-serif;
  background: white;
}

a {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

p {
  line-height: 1.6;
}

.inner {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

h1.heading {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.3;
}

.button {
  background: #b2b0ff;
  color: #010031;
  padding: 0.8em 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all 50ms ease-out;
  transition: all 50ms ease-out;
}

.button:hover span {
  text-decoration: underline;
}

.button:hover .fa-chevron-down {
  top: 3px;
}

.button:hover .fa-chevron-right {
  left: 3px;
}

.button i {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  position: relative;
  top: 0;
  left: 0;
}

section {
  padding: 5em 0 7em;
  width: 100%;
}

h2.section_heading {
  font-size: 2.4rem;
}

p.section_desc {
  padding-top: 1em;
  width: 80ch;
  max-width: 90%;
}

@media screen and (max-width: 1250px) {
  h2.section_heading {
    text-align: center;
  }
  p.section_desc {
    text-align: center;
    margin: auto;
  }
}

.noscript {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.noscript a {
  color: white;
}

.header {
  height: 70px;
  background: #363a70;
  color: #b2b0ff;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.header_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1em;
}

.header_image {
  height: 55px;
}

.header_image:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.header_title {
  color: white;
  font-weight: 700;
  font-size: 2rem;
}

.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header_link {
  font-weight: 700;
  color: #b2b0ff;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.header_link::after {
  display: block;
  content: '';
  background: white;
  width: 0;
  height: 4px;
}

.header_link:hover::after {
  width: 100%;
}

.header .hamburger {
  text-align: center;
  cursor: pointer;
  display: none;
  font-size: 1.5rem;
}

@media screen and (max-width: 1000px) {
  .header .hamburger {
    display: unset;
  }
  .header_nav {
    z-index: 4;
    -webkit-box-shadow: 0 10px 10px rgba(1, 0, 73, 0.2);
            box-shadow: 0 10px 10px rgba(1, 0, 73, 0.2);
    border-radius: 0 0 5em 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: white;
    width: 100vw;
    height: 70vh;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 0;
    overflow: hidden;
  }
  .header_nav a {
    font-weight: 700;
    font-size: 2rem;
    color: #363a70;
  }
  .header_nav a::after {
    background: #363a70;
  }
}

nav.nav_show {
  height: 70vh;
}

header.header_scroll {
  background: #2a2e58;
  background: #2a2b4f;
}

.pricing {
  background: #363a70;
  color: #b2b0ff;
  padding-bottom: 8em;
}

.pricing h2 {
  color: white;
}

.pricing_grid {
  justify-items: center;
  margin-top: 10em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.pricing_btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 2em 0 0;
}

.price {
  background: #2e315f;
  z-index: 1;
  padding: 2em;
  outline: 2px solid #8a8a8a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2em;
}

.price_title {
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
}

.price_desc {
  margin: 2em 0 3em;
  font-size: 0.9rem;
}

.price_divider {
  background: rgba(138, 138, 138, 0.467);
  height: 1px;
  width: 100%;
  margin: 1em 0;
}

.price_featurevalue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

.price_footer {
  gap: 0.5em;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.price_cost {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
}

.price_rate {
  position: relative;
}

.price_rate::before {
  content: '₹';
  font-size: 0.7em;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 5px;
  margin-right: 5px;
}

.price_rate::after {
  content: '/month';
  text-transform: uppercase;
  font-size: 0.3em;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute;
  top: 80%;
  right: 0;
}

.price_features_grid {
  width: 100%;
}

.price-emp {
  z-index: 2;
  outline: unset;
  background: white;
  color: #030090;
  margin-top: -2em;
  padding-top: 3em;
  margin-bottom: -5px;
  -webkit-box-shadow: 0 0 25px 5px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 25px 5px rgba(255, 255, 255, 0.3);
}

.price-emp .price_title {
  font-size: 2rem;
  color: #010049;
}

.price-emp .price_cost {
  color: #010049;
}

.price_feature_template_single .price_feature {
  width: 100%;
}

.price_footer {
  gap: 1.5em;
}

@media screen and (max-width: 1200px) {
  .price {
    width: 90%;
    max-width: 500px;
  }
  .pricing_grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-top: 4em;
    grid-gap: 2em;
  }
  .price-emp {
    margin: 0;
    padding: 2em;
  }
  .pricing_btn {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 490px) {
  .price_footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact {
  padding-top: 0;
  background: #363a70;
  color: #b2b0ff;
  padding-bottom: 5em;
}

.contact_title {
  color: white;
}

input, textarea {
  background: #787cb1;
  color: white;
}

.contact input, .contact textarea {
  font-family: inherit;
  outline: none;
  border: none;
  padding: 1em;
}

.contact_submit {
  cursor: pointer;
}

.contact_form {
  gap: 1em;
  width: 90%;
  max-width: 800px;
  margin: 4em auto 0;
}

.contact_submit {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: white;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: white;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: white;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: white;
}

.contact_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_row {
  gap: 1em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact_row * {
  width: 100%;
}

textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  width: 100%;
}

.contact_address {
  height: 100px;
}

@media screen and (max-width: 1000px) {
  .contact_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section.trial {
  min-height: 100vh;
  padding: 10em 0 5em;
  background: #363a70;
}

.trial_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.trial_inner .pricing_grid {
  max-width: 40%;
}

.trial_inner .contact {
  max-width: 60%;
}

form.contact_form {
  margin-left: 0;
}

.trial_inner .price {
  min-width: 380px;
}

.pricing_grid {
  all: unset;
}

.price_footer {
  display: none;
}

h2.contact_title, p.contact_desc {
  text-align: left;
  margin: 0;
}

.price {
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  h2.contact_title, p.contact_desc {
    text-align: center;
  }
  .trial_inner {
    gap: 5em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .trial_inner .contact {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 90%;
  }
  .trial_inner .price {
    min-width: unset;
  }
  .price_grid {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
  }
  form.contact_form {
    margin-right: auto;
    margin-left: auto;
  }
  .trial_inner .pricing_grid {
    width: 100%;
    max-width: unset;
  }
}

@media screen and (min-width: 1000px) {
  .price {
    margin-top: 7em;
  }
}
/*# sourceMappingURL=trial.css.map */