<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="/img/fav.png" type="image/x-icon">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="https://www.signifi.org">
    <meta property="og:description" content="Wordpress hosting simplified! Ultra-fast websites, transparent pricing and amazing suppport. Hosting does not
                get better than this.">
    <meta name="description" content="Wordpress hosting simplified! Ultra-fast websites, transparent pricing and amazing suppport. Hosting does not
                get better than this.">
    <meta property="og:image" content="https://www.signifi.org/img/logo-preview.jpg">
    <meta property="og:type" content="website">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-202508894-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-202508894-1');
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/tailwind.css">
</head>

<body class="bg-sec text-pri">
    <!--Designed and Developed by Gavin Pereira: gavinpereira.in -->
    {{ content | safe }}
</body>

</html>