.header
    height: $headerHeight
    background: $pri
    color: $onPri
    position: fixed
    width: 100%
    z-index: 5

.header_inner
    display: flex
    align-items: center
    justify-content: space-between
    height: 100%

.header_logo
    display: flex
    align-items: center
    justify-content: flex-start
    gap: 1em

.header_image
    height: 55px

.header_title
    color: $light
    font-weight: 700
    font-size: 2rem

.header_nav
    display: flex
    gap: 1.5em
    align-items: center
    justify-content: flex-end

.header_link
    font-weight: 700
    color: $onPri
    text-transform: uppercase
    font-size: 1.2rem

.header_link::after
    display: block
    content: ''
    background: $light
    width: 0
    height: 4px

.header_link:hover::after
    width: 100%

.header .hamburger
    text-align: center
    cursor: pointer
    display: none
    font-size: 1.5rem

@media screen and ( max-width: 1000px )
    .header
        .hamburger
            display: unset
    .header_nav
        z-index: 4
        box-shadow: 0 10px 10px rgba($dark,0.20)
        border-radius: 0 0 5em 5rem
        display: flex
        justify-content: space-evenly
        flex-direction: column
        background: $light
        width: 100vw
        height: 70vh
        position: absolute
        top: 100%
        left: 50%
        transform: translateX(-50%)
        height: 0
        overflow: hidden
        a
            font-weight: 700
            font-size: 2rem
            color: $pri
            &::after
                background: $pri

nav.nav_show
    height: 70vh

header.header_scroll
    background: darken($pri, 7)
    background: $darkPri
