.contact
    padding-top: 0
    background: $pri
    color: $onPri
    padding-bottom: 5em

.contact_title
    color: $light

input, textarea
    background: $lightPri
    color: $light

.contact input, .contact textarea
    font-family: inherit
    outline: none
    border: none
    padding: 1em
    // margin: 0.5em

.contact_submit
    cursor: pointer

.contact_form
    gap: 1em
    width: 90%
    max-width: 800px
    margin: 4em auto 0

.contact_name, .contact_email
    // width: 48%

.contact_submit
    margin: 0 auto
    display: flex

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder
    color: $light

input:-moz-placeholder,
textarea:-moz-placeholder
    color: $light

input::-moz-placeholder,
textarea::-moz-placeholder
    color: $light

input:-ms-input-placeholder,
textarea:-ms-input-placeholder
    color: $light

.contact_form
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.contact_row
    gap: 1em
    width: 100%
    display: flex
    *
        width: 100%

textarea
    display: flex
    height: 150px
    width: 100%
.contact_address
    height: 100px

@media screen and ( max-width: 1000px )
    .contact_row
        flex-direction: column
