.faq
    min-height: unset
    padding-bottom: 5em
    background: $pri
    color: $onPri

.faq_title
    color: $light

.faq_questions
    width: 90%
    max-width: 600px
    margin: 0 auto
    margin-top: 5em

.faq details
    cursor: pointer
    margin-bottom: 0.5em

.faq summary
    outline: none
    padding: 1em 2em
    color: $light
    background: $lightPri
    z-index: 2

.faq_answer
    background: $darkPri
    padding: 1em 2em
    z-index: -1

.faq details[open] summary ~ *
    animation: sweep 300ms ease-out

@keyframes sweep
    from
        margin-top: -10px
        opacity: 0
    to
        margin-top: -0px
        opacity: 1
