.land
    background: $pri
    // background: linear-gradient(to top, #0a1535 0%,#363a70 90%)
    min-height: unset
    padding: unset
    padding-top: $headerHeight

.land_inner
    display: flex
    justify-content: flex-end
    overflow: visible
    padding-bottom: 2em

.land_inner > *
    min-height: calc( 100vh - #{$headerHeight} )
    height: calc( 100vh - #{$headerHeight} )
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center

.land_text
    color: $onPri
    width: calc( #{$documentWidth} / 2 )
    padding: 0 3em 0 0
    gap: 1.2em

.land_hero
    min-width: 50vw
    display: flex
    overflow: visible
    align-items: center

.land_hero img, .land_hero svg
    max-height: 80%

.land_title
    color: $light

@media screen and ( max-width: 1300px )
    .land_inner
        min-height: calc( 100vh - #{$headerHeight} )
        flex-direction: column
        text-align: center
        gap: 1.5em
        & > *
            min-height: unset
        .land_hero
            width: 90%
            margin: 0 auto
            flex: 40
        .land_text
            order: 2
            width: 100%
            flex: 60
            justify-content: flex-start
            align-items: center
            padding: 0 2em
        .land_desc
            width: 80%
            max-width: 50ch
        .land_button
            margin: 0 auto

#gearSmall--inject-1
    animation: gearSmall 4s alternate-reverse infinite ease-in-out

@keyframes gearSmall
    from
        transform: translateX(0)
    to
        transform: translateX(2%)

#gearBig--inject-1
    animation: gearBig 4s alternate-reverse infinite ease-in-out

@keyframes gearBig
    from
        transform: translateX(0)
    to
        transform: translateX(-2%)

#gearBig--inject-1
    animation: gearBig 4s alternate-reverse infinite ease-in-out

@keyframes gearBig
    from
        transform: translateX(0)
    to
        transform: translateX(-1%)

#leafUp--inject-1
    animation: leafUp 4s alternate-reverse infinite ease-in-out

@keyframes leafUp
    from
        transform: rotate(0)
    to
        transform: rotate(-2deg)

#leafDown--inject-1
    animation: leafDown 4s alternate-reverse infinite ease-in-out

@keyframes leafDown
    from
        transform: translateX(0)
    to
        transform: translateX(-2%)
