.tech
    background: $ter
    color: $onTer

.tech_title
    color: $dark

.tech_image
    margin: 5em auto 2em
    display: block

.tech_text
    font-size: 1.25rem

@media screen and ( max-width: 1250px )
    .tech_image
        margin-top: 2em
    .tech_row
        flex-direction: column
    .tech_text
        margin-bottom: 4em

.tech_row
    display: flex
    align-items: center
    p
        font-size: 1.05rem
