---
layout: base.njk
title: Trial | Signifi

---


<header class="bg-pri text-sec fixed top-0 w-full z-30 shadow-lg">
    <div class="container mx-auto px-5 flex justify-between py-5 items-center">
        <a href="/">
            <img src="/img/logo-white.png" alt="Signifi" class="h-10 hover:scale-105 transition-all scale-100">
        </a>
    </div>
</header>



<section class="text-sec bg-pri min-h-screen pt-20" id="trial">
    <div class="container mx-auto px-5 flex flex-col justify-between py-20">

        <h2 class="text-4xl font-black">
            Request a free trial
        </h2>

        <p class="text-lg max-w-5xl mt-5">
            Our free trial allows you to take your website for a test drive on our servers. This ensures you have it all
            running before you opt for a paid plan. </p>

        <div class="flex flex-col lg:flex-row items-center lg:items-start mt-16 lg:mt-24 gap-x-40 gap-y-24">
            <form action="https://formsubmit.co/bd8137241733d401a6002d8dfafae975" method="POST"
                class=" flex flex-col w-full  max-w-xl lg:max-w-2xl  gap-5">



                <div class="flex flex-col lg:flex-row w-full gap-5">
                    <input type="text" placeholder="Name *" required name="Name"
                        class="bg-white text-pri placeholder:text-pri/70 w-full p-3 rounded">
                    <input type="email" placeholder="Email ID *" required name="Email"
                        class="bg-white text-pri placeholder:text-pri/70 w-full p-3 rounded">
                </div>

                <div class="flex flex-col lg:flex-row w-full gap-5">
                    <input type="text" placeholder="Domain name" name="domain"
                        class="bg-white text-pri placeholder:text-pri/70 w-full p-3 rounded">
                    <input type="text" placeholder="Company" name="Company"
                        class="bg-white text-pri placeholder:text-pri/70 w-full p-3 rounded">


                </div>

                <textarea type="text" placeholder="Address" name="Address"
                    class="resize-none h-28 bg-white text-pri placeholder:text-pri/70 p-3 rounded"></textarea>
                <textarea type="text" placeholder="Message *" required name="Message"
                    class="resize-none h-28 bg-white text-pri placeholder:text-pri/70 p-3 rounded"></textarea>

                <input type="hidden" name="_next" value="//signifi.org/">
                <input type="hidden" name="_subject" value="New trial request at Signifi">
                <input type="hidden" name="_autoresponse"
                    value="Thank you for requesting a free trial. We shall soon get in touch with you.">
                <input type="text" name="_honey" style="display:none">
                <input type="hidden" name="_template" value="table">

                <input type="submit" value="Submit"
                    class="bg-ter text-pri px-5 py-3 font-black text-lg rounded cursor-pointer">


            </form>

            <div class="flex ">
                <div
                    class="w-fit h-fit text-pri flex flex-col items-center gap-5 shadow-lg p-5 px-8 rounded bg-white text-center max-w-lg">
                    <i class="text-6xl"></i>
                    <h3 class="text-2xl font-bold uppercase">
                        Free Trial
                    </h3>
                    <ul class="flex flex-col items-start text-left list-disc pl-5">
                        <li> Free SSL</li>
                        <li> SFTP access</li>
                        <li> 1 database provided</li>
                        <li>Trial period: 1 year</li>
                    </ul>
                </div>

            </div>

        </div>


    </div>
</section>